body{
    background-color:rgb(246, 252, 252)
}
h1{
    font-size: 60px;
color: rgb(1, 3, 3);
text-align: center;
}
p{
    font-size: 30px;
    color: rgb(14, 238, 238);
    text-align: justify;
}
img{
width: 50%;
margin: 1%;
}